[submodule "Processor/Src/Verification/TestCode/approximate_benchmarks"]
	path = Processor/Src/Verification/TestCode/approximate_benchmarks
    utl = http://geopelia.mtl.t.u-tokyo.ac.jp/tomorrow/approximate_benchmark_for_fpga
